# Versioning and metadata
.git
.gitignore
.dockerignore
.github

# Build dependencies
dist
node_modules
coverage

# Environment (contains sensitive data)
.env
*.env*
nginx.conf

# Files not required for production
.editorconfig
Dockerfile
README.md
.eslintrc.js
nodemon.json
.prettierrc

# Prisma
prisma/seed.ts
prisma/seeding

# Test files
test
*.spec.ts